<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <a href="/unlogin">Выйти</a>
    <div id="myDIV" class="header">
      <h2>Мои задачи</h2>
      <input type="text" id="myInput" placeholder="Задача...">
      <span onclick="newElement()" class="addBtn">Добавить</span>
    </div>
    <span id="error"></span>
    <ul id="myUL">
        {% for task in tasks %}
            {% if task.status == True %}
                <li for="{{task.id}}" status="True" class="task checked">{{task.title}}<span for="{{task.id}}" class="close">×</span></li>

            {% else %}
                <li for="{{task.id}}" status="False" class="task">{{task.title}}<span for="{{task.id}}" class="close">×</span></li>
            {% endif %}
        {% endfor %}
    </ul>





    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>